.alert {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.alert-primary {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.copyBtn {
  float: right;
  position: relative;
  cursor: pointer;
  right: 15px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: rgba(0,0,0,0%);
  color: black;
  padding: 3px;
  font-size: 11px;
}

@media (prefers-color-scheme: dark) {
  .copyBtn {
    color: white;
    border-color: white;
  }
}
